
<div class="animated fadeInLeftBig site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-5" data-aos="fade-up" data-aos-delay="100">
                <img src="../../assets/img/search.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-8 ml-auto" data-aos="fade-up" data-aos-delay="200">
                <div class="site-section-title" style="color: #101e70;">
                   <h5>PARAMETERS AND ALARMS </h5>


                </div>
                <p class="lead">
                    Vibration<br>
                    Temperature<br>
                    
                    We will add more parameters with over-the-air updates as the system grows over time.
                    
                </p>

            </div>
        </div>
    </div>
</div>
<br>
<br>
<section class="work">
    <h1 class="animated fadeInLeftBig title-work" >
        The Vibration Alarm Problem
    </h1>
</section>

<br>
<br>
<div class="animated fadeInLeftBig site-section bg-white">
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="100">

                <img src="../../assets/img/data.jpg" alt="Image" height="200px" width="300px">
                <div class="p-4 ">
                    <p>
                       
                        Existing Vibration Alarm Standards only deal with “Overall Vibration”.

                        
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="100">

                <img src="../../assets/img/vibra.jpg" alt="Image" height="200px" width="300px">
                <div class="p-4 ">

                    <p>
                        Back in the days it was fine, but then, there was no spectra, only overall.

                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="100">

                <img src="../../assets/img/evolution.png" alt="Image" height="200px" width="300px">

                <div class="p-4 ">

                    <p> With the usefulness of the vibration spectrum, overall alarms are no longer valid. Spectra have thousands of points. The overall can’t cover all of them. Old standards are no longer valid.
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>
<br>
<br>


<div class="animated fadeInLeftBig site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-5" data-aos="fade-up" data-aos-delay="100">
               <h5 style="color: #101e70;">What are Spectral Bands? </h5>
            </div>
            <div class="col-md-8 ml-auto" data-aos="fade-up" data-aos-delay="200">
                 
                <p class="lead"> Bands are pieces of the spectrum that contain several frequencies, usually dealing with specific vibration issues such as:<br>
                    1x : Unbalance, looseness<br>
                    2-3x: Misalignment<br>
                     etc, etc. All vibration issues are covered.<br>
                    
                    Now, it makes sense to alarm on each spectral band.<br>
                    But there is another problem: There are no standards for this, because machines are so different from each other, we would have to create alarm standards for each machine. That is a lot of standards!!
                    
                </p>

            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="hero" >
    <div class="hero-container">

        <h1  class="animated bounceInDown title" style="color: #101e70;">
            The PDM Monitor Solution:
        </h1>
        <div class="animated zoomIn description">
            <p>The PDM Monitor did just that!<br>
                The PDM Monitor creates alarm standards for each of the bands for each type of machine. This allows the analyst to sort through the machines faster and concentrate on the machines with high alarms.<br>
                This is possible with a new concept in Vibration Monitoring, called the “Typical Machine”
                
            </p>
        </div>
        <div  class="animated fadeInLeftBig form">
            <img src="../../assets/img/vibra.jpg" height="300" width="300" alt="">
        </div>
    </div>
</div>
<br>
<br>



<div class="animated fadeInLeftBig site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-5" data-aos="fade-up" data-aos-delay="100">
               <h5 style="color: #101e70;"> The PDM Monitor Solution: Typical Machines</h5>
            </div>
            <div class="col-md-8 ml-auto" data-aos="fade-up" data-aos-delay="200">
                 
                <p class="lead">
                    A typical machine is an ideal representative of a group of similar machines. Ideal in the sense that it has the best vibrations of such group.<br>
The vibration of a typical machine is used as a baseline to establish alarms for all other machines belonging to its group.<br>
But…. What are the actual alarms for a machine?<br>
The analyst needs not to worry. This is the task of the PDM Monitor. The PDM Monitor will calculate the typical machine bands and establish alarms using its smart algorithms.

                </p>

            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="hero" >
    <div class="hero-container">

        <h1  class="animated bounceInDown title" style="color: #101e70;"> 
            Alarm Levels
        </h1>
        <div class="animated zoomIn description">
            <p>
                The PDM Monitor will establish alarms for each machine in the system based in the typical machine associated to it.<br>
But what is an alarm level based on?  It’s based on the user’s perception of the criticality of a machine. The most critical machines have the lowest alarm levels, the less critical, the highest alarm levels.<br>
The PDM Monitor allows the users to set that for each machine, using three levels:<br>
Smooth (Highest criticality machines)<br>
Regular (Medium criticality machines)<br>
Rough (Lowest criticality  machines)

            </p>
        </div>
        <div  class="animated fadeInLeftBig form">
            <img src="../../assets/img/vibra.jpg" height="300" width="300" alt="">
        </div>
    </div>
</div>
<br>
<br>


<div class="animated fadeInLeftBig site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-5" data-aos="fade-up" data-aos-delay="100">
               <h5 style="color: #101e70;"> Alarm Communications</h5>
            </div>
            <div class="col-md-8 ml-auto" data-aos="fade-up" data-aos-delay="200">
                 
                <p class="lead">
              
                    OK. What happens if a machine reaches the RED alarm level?<br>
                    The PDM Monitor catches the alarm and if determined to have happened suddenly and resulted in a high vibration reading, it will send the users SMS text messages, e-mails, or any social media platform the user prefers.<br>
                    The user can then go in the PDM Monitor and use its analysis tools to determine the problem.
                    
                </p>

            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="hero" >
    <div class="hero-container">

        <h1  class="animated bounceInDown title" style="color: #101e70;">
            Alarm Prediction
        </h1>
        <div class="animated zoomIn description">
            <p>
                Using its advanced algorithms, the PDM Monitor will also predict the number of days a machine is projected to take to reach the RED alarm level.

            </p>
        </div>
        <div  class="animated fadeInLeftBig form">
            <img src="../../assets/img/vibra.jpg" height="300" width="300" alt="">
        </div>
    </div>
</div>
<br>
<br>


