<main id="animar" class="blogs-main">
    <section class="blogs-news-container">
        <div class="grid-container blogs-main-new">

            <div class="blogs-news-img-container">
                <img class="element" src="../../assets/img/vibra.jpg" alt="">
            </div>
            <div class="animated bounceInDown blogs-news-info-container">
                <h3>What Parameters do the PDM Monitor read?</h3>
                <p>Vibration<br> Temperature<br> We will add more parameters with over-the-air updates as the system grows over time.
                </p>
            </div>
        </div>
    </section>
</main>
<br>
<br>
<section class="post-list">
    <a href="" class="post">
        <figure class="post-image">
            <img src="../../assets/img/insdutry.jpg" alt="">
        </figure>
        <span class="post-overlay">
            <p>
                <span class="post-likes">PDM</span>
        <span class="post-comments">MONITOR</span>
        </p>
        </span>
    </a>
    <a href="" class="post">
        <figure class="post-image">
            <img src="../../assets/img/insdutry.jpg" alt="">
        </figure>
        <span class="post-overlay">
            <p>
                <span class="post-likes">PDM</span>
        <span class="post-comments">MONITOR</span>
        </p>
        </span>
    </a>
    <a href="" class="post">
        <figure class="post-image">
            <img src="../../assets/img/insdutry.jpg" alt="">
        </figure>
        <span class="post-overlay">
            <p>
                <span class="post-likes">PDM</span>
        <span class="post-comments">MONITOR</span>
        </p>
        </span>
    </a>

</section>
<br>
<br>
<main class="animated bounceInDown blogs-main">
    <section class="blogs-news-container-s">
        <div class="grid-container blogs-main-new">

            <div class="blogs-news-img-container">
                <img class="element" src="../../assets/img/sub.jpg" alt="">
            </div>
            <div class="blogs-news-info-container">
                <h3>The Vibration Alarm Problem:</h3>
                <p>Existing Vibration Alarm Standards only deal with “Overall Vibration”.
                    <br> Back in the days it was fine, but then, there was no spectra, only overall.
                    <br>With the usefulness of the vibration spectrum, overall alarms are no longer valid. Spectra have thousands of points. The overall can’t cover all of them. Old standards are no longer valid.

                </p>
            </div>
        </div>
    </section>
</main>

<div class="animated fadeInLeftBig blogs-main">

    <div class="m">
        <h3 id="mostrar">What are Spectral Bands?</h3>
        <p>Bands are pieces of the spectrum that contain several frequencies, usually dealing with specific vibration issues such as:<br> 1x : Unbalance, looseness<br> 2-3x: Misalignmen<br>All vibration issues are covered.<br>Now, it makes sense to alarm
            on each spectral band.<br>But there is another problem: There are no standards for this, because machines are so different from each other, we would have to create alarms for each machine. </p>
    </div>
</div>


<section class="post-list">
    <a href="" class="post">
        <figure class="post-image">
            <img src="../../assets/img/insdutry.jpg" alt="">
        </figure>
        <span class="post-overlay">
            <p>
                <span class="post-likes">PDM</span>
        <span class="post-comments">MONITOR</span>
        </p>
        </span>
    </a>
    <a href="" class="post">
        <figure class="post-image">
            <img src="../../assets/img/insdutry.jpg" alt="">
        </figure>
        <span class="post-overlay">
            <p>
                <span class="post-likes">PDM</span>
        <span class="post-comments">MONITOR</span>
        </p>
        </span>
    </a>
    <a href="" class="post">
        <figure class="post-image">
            <img src="../../assets/img/insdutry.jpg" alt="">
        </figure>
        <span class="post-overlay">
            <p>
                <span class="post-likes">PDM</span>
        <span class="post-comments">MONITOR</span>
        </p>
        </span>
    </a>
    <a href="" class="post">
        <figure class="post-image">
            <img src="../../assets/img/insdutry.jpg" alt="">
        </figure>
        <span class="post-overlay">
            <p>
                <span class="post-likes">PDM</span>
        <span class="post-comments">MONITOR</span>
        </p>
        </span>
    </a>
    <a href="" class="post">
        <figure class="post-image">
            <img src="../../assets/img/insdutry.jpg" alt="">
        </figure>
        <span class="post-overlay">
            <p>
                <span class="post-likes">PDM</span>
        <span class="post-comments">MONITOR</span>
        </p>
        </span>
    </a>
    <a href="" class="post">
        <figure class="post-image">
            <img src="../../assets/img/insdutry.jpg" alt="">
        </figure>
        <span class="post-overlay">
            <p>
                <span class="post-likes">PDM</span>
        <span class="post-comments">MONITOR</span>
        </p>
        </span>
    </a>

</section>

<br>