<div class="hero">
    <div class="animated bounceInDown hero-container">
        <h1 class="title">
            BENEFITS
        </h1>
        <div class="animated zoomIn description">

            <p>
                Monitoring the health of the machine using the PDM Monitor helps the plant:<br> Plan and Schedule maintenance tasks using hard machine health data.<br> Save on warehouse inventory.<br> Perform the maintenance tasks in a safe and efficient
                manner.
                <br> Minimize plant downtime.<br>

            </p>

        </div>
        <div class="animated fadeInLeftBig form">
            <img src="../../assets/img/blue.jpg" height="300" width="300" alt="">
        </div>

    </div>
</div>

<br>
<br>
<div class="animated fadeInLeftBig pdm">
    <img style="height: 400px;width: 800px;" src="../../assets/img/faro.jpg">
</div>
<br>
<br>