
<div class="hero" >
    <div class="animated bounceInDown hero-container">
        <h1  class="title">
            PDM Monitor Sensors
        </h1>
        <div class="animated zoomIn description">
            <p>
                The PDM Monitor can use any market sensor for vibration and temperature.<br>
                Using the power of MEMS, we have developed a multiple technology sensor which is a tri-axial accelerometer and a temperature sensor, all in one at an affordable cost.
                
            </p>
        </div>
        <div class="animated fadeInLeftBig form">
            <img src="../../assets/img/blue.jpg" height="300" width="300" alt="">
        </div>

    </div>
</div>

<br>
<br>
<div  class="animated fadeInLeftBig pdm">
    <img style="height: 400px;width: 800px;margin-left: 500px; margin-right: 500px;" src="../../assets/img/earth.jpg">
</div>
<br>
<br>

<div class="animated fadeInLeftBig site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-5" data-aos="fade-up" data-aos-delay="100">
                <img src="../../assets/img/search.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-8 ml-auto mt-5" data-aos="fade-up" data-aos-delay="200">
                <div class="animated bounceInDown site-section-title" style="color: #101e70;font-size: 30px;">
                   <h5> How is the PDM Monitor different from existing vibration platforms?</h5>


                </div>
                <p class="lead">
                    The PDM Monitor is an Industry 4.0 System. Remote Cloud monitoring is the next step to route-based data monitoring.<br>
                    Data is available worldwide as opposed to only in one local computer or network.<br>
                    No more software purchasing or maintenance fees. Software is in the cloud or in a downloadable app. Updates happen over-the-air.<br>
                    Expandability of the system is limitless.<br>
                    Analysts can analyze data from anywhere in the world at any time.
                    
                </p>

            </div>
        </div>
    </div>
</div>
<br>
<br>