<div class="hero">
    <div class="animated bounceInDown hero-container">
        <h1 class="title">
            How does the PDM Monitor work?
        </h1>
        <div class="animated zoomIn description">
            <p>The PDM Monitor divides the database structure into hierarchies:
            </p>
            <p>Account (The Corporation) .
                <br> Plant (The local plant).
                <br> Area (Self Describes) .
                <br> Route-based Vibration Monitoring Systems .<br> System (A group of Machines put together by purpose, location or similarity) .
                <br>
            </p>
        </div>
        <div class="animated fadeInLeftBig form">
            <img src="../../assets/img/blue.jpg" height="300" width="300" alt="">
        </div>

    </div>
</div>

<br>
<br>
<div class="animated fadeInLeftBig pdm">
    <img style="height: 400px;width: 800px;" src="../../assets/img/pdm.png">
</div>
<br>

<br>
<div class="animated fadeInLeftBig site-section bg-white">
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="100">

                <img src="../../assets/img/data.jpg" alt="Image" height="200px" width="300px">
                <div class="p-4 ">
                    <p>
                        The Analyst walks the plant collecting vibration readings on the machines in the route, one by one.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="100">

                <img src="../../assets/img/vibra.jpg" alt="Image" height="200px" width="300px">
                <div class="p-4 ">

                    <p>Once data is collected, the analyst will go and download the data on the desktop computer, ready for analysis and reporting.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="100">

                <img src="../../assets/img/evolution.png" alt="Image" height="200px" width="300px">

                <div class="p-4 ">

                    <p> The PDM MONITOR uses all the thecnologyes for the best job for you .</p>
                </div>
            </div>

        </div>

    </div>
</div>
<br>
<br>