
<div class="animated fadeInLeftBig site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-5" data-aos="fade-up" data-aos-delay="100">
                <img src="../../assets/img/search.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-8 ml-auto" data-aos="fade-up" data-aos-delay="200">
                <div class="site-section-title mt-5">
                   <h5 style="color: #101e70;" >SECURITY </h5>


                </div>
                <p class="lead">
                    The PDM Monitor is protected with end-to-end encription, both ways. The same encription the banks use to secure your money.
                    <br>
                    Powerful secure servers maintain the accessibility reliable and fast.

                </p>

            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="animated fadeInLeftBig site-section bg-white">
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="100">

                <img src="../../assets/img/data.jpg" alt="Image" height="200px" width="300px">
                <div class="p-4 ">
                    <p>
                        USER ROLES:  <br>
                        Users have selected write/read privileges assigned by the Admin.
                        
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="100">

                <img src="../../assets/img/vibra.jpg" alt="Image" height="200px" width="300px">
                <div class="p-4 ">

                    <p>USER HIERARCHIES:<br>
                        Users can be assigned to access only:<br>
                        One Plant<br>
                        One Area<br>
                        One System
                        
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="100">

                <img src="../../assets/img/insdutry.jpg" alt="Image" height="200px" width="300px">

                <div class="p-4 ">

                    <p> The best security </p>
                </div>
            </div>

        </div>

    </div>
</div>
<br>
<br>
