
<div class="animated fadeInLeftBig site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-5" data-aos="fade-up" data-aos-delay="100">
                <img src="../../assets/img/search.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-8 ml-auto mt-5" data-aos="fade-up" data-aos-delay="200">
                <div class="site-section-title">
                   <h5 style="color: #101e70;">EVOLUTION OF VIBRATION DATA COLLECTION </h5>


                </div>
                <p class="lead">Overall Vibration readers.<br>
                    Frequency plotters.<br>
                    Portable Vibration Analyzers.<br>
                    Route-based Vibration Monitoring Systems.<br>
                    4.0 Cloud-Based Multi-parameter Monitoring System: The PDM MONITOR.
                    
                </p>

            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="animated fadeInLeftBig site-section bg-white">
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="100">

                <img src="../../assets/img/data.jpg" alt="Image" height="200px" width="300px">
                <div class="p-4 ">
                    <p>
                        The Analyst walks the plant collecting vibration readings on the machines in the route, one by one.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="100">

                <img src="../../assets/img/vibra.jpg" alt="Image" height="200px" width="300px">
                <div class="p-4 ">

                    <p>Once data is collected, the analyst will go and download the data on the desktop computer, ready for analysis and reporting.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="100">

                <img src="../../assets/img/evolution.png" alt="Image" height="200px" width="300px">

                <div class="p-4 ">

                    <p>  The PDM MONITOR uses all the thecnologyes for the best job for you .</p>
                </div>
            </div>

        </div>

    </div>
</div>
<br>
<br>