
<div class="animated fadeInLeftBig site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-5" data-aos="fade-up" data-aos-delay="100">
                <img src="../../assets/img/search.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-8 ml-auto mt-5" data-aos="fade-up" data-aos-delay="200">
                <div class="animated bounceInDown site-section-title">
                   <h5 style="color: #101e70; font-size: 30px;"> Do I need an Analyst ?</h5>


                </div>
                <p class="lead">
                    The PDM Monitor has embedded algorithms that will help the analyst determine the machine’s problems, but as with any tool, it needs an specialist to have the final say, the same way you would prefer a doctor to tell you if you have neumonia instead of asking a thermometer to do so.
                </p>

            </div>
        </div>
    </div>
</div>
<br>
<br>

<div class="hero" >
    <div class="hero-container">

        <h1  class="animated bounceInDown title" style="color: #101e70;font-size: 30px;">
            Vibration Analysis Tools
        </h1>
        <div class="animated zoomIn description">
            <p>
                The PDM Monitor shows:<br>
                Trends for each vibration band and parameter<br>
                Temperature trends<br>
                Vibration Spectra<br>
                Waveforms<br>
                Polar plots 
                
            </p>
        </div>
        <div  class="animated fadeInLeftBig form">
            <img src="../../assets/img/vibra.jpg" height="300" width="300" alt="">
        </div>
    </div>
</div>
<br>
<br>


<div class="animated fadeInLeftBig site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-5" data-aos="fade-up" data-aos-delay="100">
                <img src="../../assets/img/blue.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-8 ml-auto" data-aos="fade-up" data-aos-delay="200">
                <div class="animated bounceInDown site-section-title">
                   <h5 style="color: #101e70;font-size: 30px;">How often will the data be collected? </h5>


                </div>
                <p class="lead">
                    The PDM Monitor is a Cloud-Based Remote PDM Monitoring system. Data is discrete.<br>
                    Data will be collected daily<br>
                    The PDM Monitor has an embedded calendar in which the analyst can determine what time of the day is best for the data collection each day of the year. It’s totally customizable.<br>
                    There is also a “Collect Data” buttom in the sofware in case data is needed outside of the regular schedule. This buttom can be used any time to collect more data when needed.
                    
                </p>

            </div>
        </div>
    </div>
</div>
<br>
<br>

