.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 5px;
    justify-content: center;
}

.item {
    border-radius: 5px;
    padding: 10px;
    background: white;
}

.item img {
    max-width: 100%
}

.level-1 {
    grid-row-end: span 3;
}

.level-2 {
    grid-row-end: span 2;
}

.level-3 {
    grid-row-end: span 1;
}

.cardd {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}

.card-body {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: #101e70;
    width: 500px;
    
    
}
.card-title{
color: white;
font-size: 20px;
}
.card-text{
    color: white;
    font-size: 18px;

}