<br>

<div class="cardd">
    <div id="animar" class="card">
        <div class="card-body">
            <h5 class="card-title">How often will the data be collected?</h5>
            <p class="card-text">The PDM Monitor is a Cloud-Based Remote PDM Monitoring system. <br>Data is discrete.<br> Data will be collected daily.<br> The PDM Monitor has an embedded calendar in which the analyst can determine what time of the day is best for the data
                collection each day of the year. It’s totally customizable.<br> There is also a “Collect Data” buttom in the sofware in case data is needed outside of the regular schedule. This buttom can be used any time to collect more data when needed.<br>
            </p>

        </div>
    </div>


    <div class="card">
        <div class="card-body">
            <h5 class="card-title">How is the PDM Monitor different from existing vibration platforms?</h5>
            <p class="card-text">Remote Cloud monitoring is the next step to route-based data monitoring.<br> Data is available worldwide as opposed to only in one local computer or network.<br> No more software purchasing or maintenance fees. Software is in the cloud or
                in a downloadable app at no extra costs.<br> Expandability of the system is limitless.<br> Analysts can analyze data from anywhere in the world at any time.<br>
            </p>

        </div>
    </div>
</div>
<br>
<br>

<div id="container" class="container">
    <div class="item level-1">
        <img src="../../assets/img/blue.jpg" alt="">
    </div>
    <div class="item level-2">
        <img src="../../assets/img/design.jpg" alt="">
    </div>
    <div class="item level-3">
        <img src="../../assets/img/sub.jpg" alt="">
    </div>
    <div class="item level-1">
        <img src="../../assets/img/earth.jpg" alt="">
    </div>
    <div class="item level-2">
        <img src="../../assets/img/faro.jpg" alt="">
    </div>
    <div class="item level-3">
        <img src="../../assets/img/vibra.jpg" alt="">
    </div>
    <div class="item level-1">
        <img src="../../assets/img/faro.jpg" alt="">
    </div>
    <div class="item level-2">
        <img src="../../assets/img/insdutry.jpg" alt="">
    </div>
    <div class="item level-3">
        <img src="../../assets/img/search.jpg" alt="">
    </div>
    <div class="item level-1">
        <img src="../../assets/img/faro.jpg" alt="">
    </div>
    <div class="item level-2">
        <img src="../../assets/img/sub.jpg" alt="">
    </div>
    <div class="item level-3">
        <img src="../../assets/img/vibra.jpg" alt="">
    </div>

</div>
<br>
<br>